
/* Header Styles */
header {
  background-color: #FFDBAA;
  color: #553100;
  padding: 10px;
  justify-content: space-between;
  float: none;
}

/* adjustin my website font */
header h1 {
  font-size: 30px;
}

/* added: to directly handle space between items in the nav */
/* nav {
  margin-left: auto;
} */

/* New Class for Top Buttons now I just need to move them up a bit */
.topButtons {
  float: none;
  margin-bottom: 600px;
}


/* ????? how I'm going to organize the nav list to the right ?????*/
nav li {
  display: inline-flex;
  float: right;
  float: top;
  margin-right: 10px;
}

/* add a thin black line above the body */
/* body {

} */


/* Main background - #D4A76A */
main {
  background-color: #D4A76A;
  padding: 20px;
  display: flex; /* for row layout */
  flex-wrap: wrap; /*  to wrap rows */
  gap: 20px; /*  space between elements */
  justify-content: center; /* center items */
}

/* shared class for section styling */
.info-section {
  border-style: ridge;
  background-color: white;
  width: 230px; /* ensure they fit into the row layout */
  height: 180px;
  flex: 1; /*  to grow/shrink with window */
  margin-bottom: 20px;
}

.bottomButton {
  float: center; /* is this even doing anything or is something conflicting */
  flex: center
}

/* creating the general button styles */
button {
  background-color: #805215;
  color: white;
  height: 30px;
  font-weight: bold;
}



/* make the about us wide enough to fill the bottom page */
#aboutUs {
  width: 100%;
  margin-top: 10px;
}


/* Creating this to edit each class that is a title for the spans*/
.popularLinks {
  font-weight: bold;
  text-align: center;
}

/* paragraph class so I can edit them easier */
.paragraphThatDescribe {
  font-size: 18px;
}


/* adding this id so that way I can make the button stretch across the bottom */
#aboutUsButton {
  width: 98%;
  margin-bottom: 30px;
  float: center
}

/* trying to center all the buttons in the boxes */
main section button {
  justify-content: center;
  float: none;
}