
/* Header Styles */
header {
  background-color: #FFDBAA;
  color: #553100;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

/* adjustin my website font */
header h1 {
  font-size: 30px;
}

/* added: to directly handle space between items in the nav */
/* nav {
  margin-left: auto;
} */

/* New Class for Top Buttons */
.topButtons {
  float: right;
  margin-left: 10px;
}


/* ????? how I'm going to organize the nav list to the right ?????*/
nav li {
  display: inline;
  right: 700px;
  margin-left: 10px;
}

/* add a thin black line above the body */
body {

}


/* Main background - #D4A76A */
main {
  background-color: #D4A76A;
  padding: 20px;
  display: flex; /* for row layout */
  flex-wrap: wrap; /*  to wrap rows */
  gap: 20px; /*  space between elements */
  justify-content: center; /* center items */
}

/* shared class for section styling */
.info-section {
  border-style: ridge;
  background-color: white;
  width: 230px; /* ensure they fit into the row layout */
  height: 180px;
  flex: 1; /*  to grow/shrink with window */
  margin-bottom: 20px;
}

.bottomButton {
  float: center; /* is this even doing anything or is something conflicting */

}

/* creating the general button styles */
button {
  background-color: #805215;
  color: white;
  height: 30px;
  font-weight: bold;
}



/* make the about us wide enough to fill the bottom page */
#aboutUs {
  width: 100%;
}


/* Creating this to edit each class that is a title for the spans*/
.popularLinks {
  font-weight: bold;
  text-align: center;
}

/* paragraph class so I can edit them easier */
.paragraphThatDescribe {
  font-size: 18px;
}

#aboutUs {
  margin-top: 10px;
}