
/* Header Styles */
header {
  background-color: #FFDBAA;
  color: #553100;
  padding: 10px;
}

/* adjustin my website font */
header h1 {
  font-size: 24px;
}

/* organizing the whoele unorganized list so they display appropriately */
nav ul {
  list-style: none;
}

/* creating the general button styles */
button {
  background-color: #805215;
  color: white;
  height: 30px;
}

/* Main background - #D4A76A */
main {
  background-color: #D4A76A;
}

/* Creating this to edit each class that is a title for the spans*/
.popularLinks {
  font-weight: bold;
  text-align: center;
}


/* Use Ids to move around the header items */
#webSiteName {
  text-size-adjust: 100px;
}
#homeButton {}
#flightsButton {}
#supportButton {}
#loginButton {}





/* grabbing all the div IDs so I can start making white boxes */

#myFlights {
  border-style: ridge; /* or groove? */
  background-color: white;
  width: 230px;
  height: 160px;
};

#groupTrips {
  border-style: ridge; /* or groove? */
  background-color: white;
  width: 230px;
  height: 160px;
}

#discountFlights {
  border-style: ridge; /* or groove? */
  background-color: white;
  width: 230px;
  height: 160px;
}

#aboutUs {
  border-style: ridge; /* or groove? */
  background-color: white;
  width: 780px;
  height: 160px;
}